In [1]:
import pandas as pd
import re

In [2]:

bank_statement_df = pd.read_excel(r"D:\NPS\phase3\phase3\ADBL.xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [3]:
bank_statement_df

,SN,NValue Date,EValue Date,NBooking Date,EBooking Date,Ref,Narration,Dr,Cr,Balance,...,TDate,Account Number,Payment Details,Trace Number,Cheque No,Debit Account,Credit Account,Payment Details 1,Payment Details 3,Payment Details 4
0,1,20790401,20220717,20790401,20220717,FT22198ZQV1P,100002299772,0.0,151.0,732059.75,...,20230716,NPR1403700010001,NaN,6633655.0,NaN,0508901663579013,NPR1403700010001,NaN,NaN,NaN
1,2,20790401,20220717,20790401,20220717,FT22198H34KQ,100002299861,0.0,200.0,732259.75,...,20230716,NPR1403700010001,NaN,6633839.0,NaN,1125501367948016,NPR1403700010001,NaN,NaN,NaN
2,3,20790401,20220717,20790401,20220717,FT221983HD1Y,100002300021,0.0,10000.0,742259.75,...,20230716,NPR1403700010001,NaN,6634159.0,NaN,0720905050296016,NPR1403700010001,NaN,NaN,NaN
3,4,20790401,20220717,20790401,20220717,FT22198V8K09,100002300119,0.0,2000.0,744259.75,...,20230716,NPR1403700010001,NaN,6634375.0,NaN,1005301515460017,NPR1403700010001,NaN,NaN,NaN
4,5,20790401,20220717,20790401,20220717,FT22198LH2MT,100002300140,0.0,2100.0,746359.75,...,20230716,NPR1403700010001,NaN,6634408.0,NaN,0210204028150013,NPR1403700010001,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16378,16379,20790722,20221108,20790722,20221108,FT22312639R4,FT-748585,52535.0,0.0,-6626936.46,...,20230716,NPR1403700010001,748585,NaN,NaN,NPR1403700010001,0213305126104013,748585,NaN,NaN
16379,16380,20790722,20221108,20790722,20221108,FT22312BHCXM,FT-748587,115466.0,0.0,-6742402.46,...,20230716,NPR1403700010001,748587,NaN,NaN,NPR1403700010001,0721001992137018,748587,NaN,NaN
16380,16381,20790722,20221108,20790722,20221108,FT22312QKH21,FT-749088,0.0,2000.0,-6740402.46,...,20230716,NPR1403700010001,749088,NaN,NaN,0100101597002015,NPR1403700010001,749088,NaN,NaN
16381,16382,20790722,20221108,20790722,20221108,FT22312G7FPX,100002766656,0.0,1500.0,-6738902.46,...,20230716,NPR1403700010001,NaN,8215870.0,NaN,0210805123098014,NPR1403700010001,NaN,NaN,NaN
16382,16383,20790722,20221108,20790722,20221108,FT223121DHVT,100002766661,0.0,500.0,-6738402.46,...,20230716,NPR1403700010001,NaN,8215894.0,NaN,1125501994899012,NPR1403700010001,NaN,NaN,NaN

In [4]:
bank_statement_df.columns

Index(['SN', 'NValue Date', 'EValue Date', 'NBooking Date', 'EBooking Date',
       'Ref', 'Narration', 'Dr', 'Cr', 'Balance', 'Turn', 'Company',
       'Category', 'FDate', 'TDate', 'Account Number', 'Payment Details',
       'Trace Number', 'Cheque No', 'Debit Account', 'Credit Account',
       'Payment Details 1', 'Payment Details 3', 'Payment Details 4'],
      dtype='object')

In [6]:
for index, row in bank_statement_df.iterrows():
    if "NPS-IF-" in str(row["Narration"]):
        id = re.findall(r'[0-9]{7}',str(row["Narration"]))
        bank_statement_df.loc[index, 'Transaction Id'] = id[0]

    elif "10000" in str(row["Narration"]):
        id = re.findall(r'10000*[0-9]{7}',str(row["Narration"]))
        bank_statement_df.loc[index, 'Transaction Id'] = id[0].replace("10000","")
    
    elif "FTMS-" in str(row["Narration"]):
        match = re.search(r'FTMS-(\d+)',str(row["Narration"]))
        if match:
            id= match.group(1)
            bank_statement_df.loc[index, 'Transaction Id'] = id
    elif "FT-" in str(row["Narration"]):
        match = re.search(r'FT-(\d+)',str(row["Narration"]))
        if match:
            id= match.group(1)
            bank_statement_df.loc[index, 'Transaction Id'] = id

In [7]:
bank_statement_df

,SN,NValue Date,EValue Date,NBooking Date,EBooking Date,Ref,Narration,Dr,Cr,Balance,...,Account Number,Payment Details,Trace Number,Cheque No,Debit Account,Credit Account,Payment Details 1,Payment Details 3,Payment Details 4,Transaction Id
0,1,20790401,20220717,20790401,20220717,FT22198ZQV1P,100002299772,0.0,151.0,732059.75,...,NPR1403700010001,NaN,6633655.0,NaN,0508901663579013,NPR1403700010001,NaN,NaN,NaN,2299772
1,2,20790401,20220717,20790401,20220717,FT22198H34KQ,100002299861,0.0,200.0,732259.75,...,NPR1403700010001,NaN,6633839.0,NaN,1125501367948016,NPR1403700010001,NaN,NaN,NaN,2299861
2,3,20790401,20220717,20790401,20220717,FT221983HD1Y,100002300021,0.0,10000.0,742259.75,...,NPR1403700010001,NaN,6634159.0,NaN,0720905050296016,NPR1403700010001,NaN,NaN,NaN,2300021
3,4,20790401,20220717,20790401,20220717,FT22198V8K09,100002300119,0.0,2000.0,744259.75,...,NPR1403700010001,NaN,6634375.0,NaN,1005301515460017,NPR1403700010001,NaN,NaN,NaN,2300119
4,5,20790401,20220717,20790401,20220717,FT22198LH2MT,100002300140,0.0,2100.0,746359.75,...,NPR1403700010001,NaN,6634408.0,NaN,0210204028150013,NPR1403700010001,NaN,NaN,NaN,2300140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16378,16379,20790722,20221108,20790722,20221108,FT22312639R4,FT-748585,52535.0,0.0,-6626936.46,...,NPR1403700010001,748585,NaN,NaN,NPR1403700010001,0213305126104013,748585,NaN,NaN,748585
16379,16380,20790722,20221108,20790722,20221108,FT22312BHCXM,FT-748587,115466.0,0.0,-6742402.46,...,NPR1403700010001,748587,NaN,NaN,NPR1403700010001,0721001992137018,748587,NaN,NaN,748587
16380,16381,20790722,20221108,20790722,20221108,FT22312QKH21,FT-749088,0.0,2000.0,-6740402.46,...,NPR1403700010001,749088,NaN,NaN,0100101597002015,NPR1403700010001,749088,NaN,NaN,749088
16381,16382,20790722,20221108,20790722,20221108,FT22312G7FPX,100002766656,0.0,1500.0,-6738902.46,...,NPR1403700010001,NaN,8215870.0,NaN,0210805123098014,NPR1403700010001,NaN,NaN,NaN,2766656
16382,16383,20790722,20221108,20790722,20221108,FT223121DHVT,100002766661,0.0,500.0,-6738402.46,...,NPR1403700010001,NaN,8215894.0,NaN,1125501994899012,NPR1403700010001,NaN,NaN,NaN,2766661

In [8]:
bank_statement_df['Transaction Id'].count()

16205

In [9]:
def standard_format(row):
        """
        Standardize transaction amount and mode.

        Classify transactions as debit (DR) or credit (CR).
        """
        if abs(row['DEBIT']) > 0:
            mode = 'DR'
            amount = row['DEBIT']
        elif row['CREDIT'] > 0:
            mode = 'CR'
            amount = row['CREDIT']
        else:
            mode = None
            amount = None
        return pd.Series([mode, amount], index=['Mode', 'Amount'])

In [10]:
bank_statement_df[['Mode', 'Amount']] = bank_statement_df.apply(standard_format, axis=1)

KeyError: 'DEBIT'