In [13]:
import pandas as pd
import re

In [14]:
bank_statement_df = pd.read_excel(r"D:\NPS_phase1\nps-reconciliation\output\BANK STMT PHASE 4\Bank_excel.xlsx",skiprows=1)

In [15]:
bank_statement_df

,TranDate,TranId,ShowTranDate,Desc1,ValueDate,Debit,Credit,Balance,Desc2,Desc3
0,04/09/2023,HPP171618,04/09/2023,9806042191,04/09/2023,0,1300,0.0,1.000040e+11,2482282
1,04/09/2023,HPP193636,04/09/2023,9807011607,04/09/2023,0,500,0.0,1.000040e+11,2479473Off
2,04/09/2023,HPP103850,04/09/2023,9807011607,04/09/2023,0,3000,0.0,1.000040e+11,2480578
3,04/09/2023,HPP214127,04/09/2023,9816970597,04/09/2023,0,1500,0.0,1.000040e+11,2479742Off
4,04/09/2023,HPP071204,04/09/2023,9817017071,04/09/2023,0,500,0.0,1.000040e+11,2479974
5,04/09/2023,HPP073802,04/09/2023,9824030827,04/09/2023,0,500,0.0,1.000040e+11,2480021
6,04/09/2023,HPP142759,04/09/2023,9824327979,04/09/2023,0,592,0.0,1.000040e+11,2481597
7,04/09/2023,HPP093758,04/09/2023,9842088442,04/09/2023,0,2000,0.0,1.000040e+11,2480319
8,04/09/2023,HPP191018,04/09/2023,9842279732,04/09/2023,0,3000,0.0,1.000040e+11,2482703
9,04/09/2023,HPP124053,04/09/2023,9842646168,04/09/2023,0,25000,0.0,1.000040e+11,2481113
10,04/09/2023,HPP225405,04/09/2023,9842699646,04/09/2023,0,40,0.0,1.000040e+11,2479839
11,04/09/2023,HPP224123,04/09/2023,9842699646,04/09/2023,0,85,0.0,1.000040e+11,2479827
12,04/09/2023,HPP223653,04/09/2023,9842699646,04/09/2023,0,85,0.0,1.000040e+11,2479823
13,04/09/2023,HPP223849,04/09/2023,9842699646,04/09/2023,0,85,0.0,1.000040e+11,2479825
14,04/09/2023,HPP202153,04/09/2023,9842753255,04/09/2023,0,115,0.0,1.000040e+11,2479560Off
15,04/09/2023,HPP105517,04/09/2023,9865534329,04/09/2023,0,20000,0.0,1.000040e+11,2480651
16,04/09/2023,,04/09/2023,~Date summary,NaN,0,0,1399446.3,NaN,NaN
17,05/09/2023,HPP124525,05/09/2023,9807011607,05/09/2023,0,200,0.0,1.000040e+11,2484597
18,05/09/2023,HPP102941,05/09/2023,9824036758,05/09/2023,0,1500,0.0,1.000040e+11,2483932
19,05/09/2023,HPP213743,05/09/2023,9827981859,05/09/2023,0,500,0.0,1.000040e+11,2483045Off
20,05/09/2023,HPP120841,05/09/2023,9842646168,05/09/2023,0,25000,0.0,1.000040e+11,2484406
21,05/09/2023,HPP203752,05/09/2023,9844588732,05/09/2023,0,1000,0.0,1.000040e+11,2482890Off

In [29]:
bank_statement_df['Desc2'] = bank_statement_df['Desc2'].astype(str)

In [30]:
bank_statement_df

,TranDate,TranId,ShowTranDate,Desc1,ValueDate,Debit,Credit,Balance,Desc2,Desc3,Transaction Id,Mode,Amount,Date
0,04/09/2023,HPP171618,04/09/2023,9806042191,04/09/2023,0,1300,0.0,100004016218.0,2482282,4016218.0,CR,1300.0,2023-09-04
1,04/09/2023,HPP193636,04/09/2023,9807011607,04/09/2023,0,500,0.0,100004011845.0,2479473Off,4011845.0,CR,500.0,2023-09-04
2,04/09/2023,HPP103850,04/09/2023,9807011607,04/09/2023,0,3000,0.0,100004013710.0,2480578,4013710.0,CR,3000.0,2023-09-04
3,04/09/2023,HPP214127,04/09/2023,9816970597,04/09/2023,0,1500,0.0,100004012326.0,2479742Off,4012326.0,CR,1500.0,2023-09-04
4,04/09/2023,HPP071204,04/09/2023,9817017071,04/09/2023,0,500,0.0,100004012845.0,2479974,4012845.0,CR,500.0,2023-09-04
5,04/09/2023,HPP073802,04/09/2023,9824030827,04/09/2023,0,500,0.0,100004012915.0,2480021,4012915.0,CR,500.0,2023-09-04
6,04/09/2023,HPP142759,04/09/2023,9824327979,04/09/2023,0,592,0.0,100004015281.0,2481597,4015281.0,CR,592.0,2023-09-04
7,04/09/2023,HPP093758,04/09/2023,9842088442,04/09/2023,0,2000,0.0,100004013365.0,2480319,4013365.0,CR,2000.0,2023-09-04
8,04/09/2023,HPP191018,04/09/2023,9842279732,04/09/2023,0,3000,0.0,100004016671.0,2482703,4016671.0,CR,3000.0,2023-09-04
9,04/09/2023,HPP124053,04/09/2023,9842646168,04/09/2023,0,25000,0.0,100004014573.0,2481113,4014573.0,CR,25000.0,2023-09-04
10,04/09/2023,HPP225405,04/09/2023,9842699646,04/09/2023,0,40,0.0,100004012529.0,2479839,4012529.0,CR,40.0,2023-09-04
11,04/09/2023,HPP224123,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012508.0,2479827,4012508.0,CR,85.0,2023-09-04
12,04/09/2023,HPP223653,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012492.0,2479823,4012492.0,CR,85.0,2023-09-04
13,04/09/2023,HPP223849,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012504.0,2479825,4012504.0,CR,85.0,2023-09-04
14,04/09/2023,HPP202153,04/09/2023,9842753255,04/09/2023,0,115,0.0,100004012028.0,2479560Off,4012028.0,CR,115.0,2023-09-04
15,04/09/2023,HPP105517,04/09/2023,9865534329,04/09/2023,0,20000,0.0,100004013837.0,2480651,4013837.0,CR,20000.0,2023-09-04
16,04/09/2023,,04/09/2023,~Date summary,NaN,0,0,1399446.3,nan,NaN,NaN,None,NaN,2023-09-04
17,05/09/2023,HPP124525,05/09/2023,9807011607,05/09/2023,0,200,0.0,100004019732.0,2484597,4019732.0,CR,200.0,2023-09-05
18,05/09/2023,HPP102941,05/09/2023,9824036758,05/09/2023,0,1500,0.0,100004018806.0,2483932,4018806.0,CR,1500.0,2023-09-05
19,05/09/2023,HPP213743,05/09/2023,9827981859,05/09/2023,0,500,0.0,100004017276.0,2483045Off,4017276.0,CR,500.0,2023-09-05
20,05/09/2023,HPP120841,05/09/2023,9842646168,05/09/2023,0,25000,0.0,100004019516.0,2484406,4019516.0,CR,25000.0,2023-09-05
21,05/09/2023,HPP203752,05/09/2023,9844588732,05/09/2023,0,1000,0.0,100004017008.0,2482890Off,4017008.0,CR,1000.0,2023-09-05

In [18]:
for index, row in bank_statement_df.iterrows():
    if '10000' in str(row['Desc2']):
        tran_id = str(row['Desc2']).split()
        value = tran_id[0]
        id = re.sub(r'10*', '', value, count=1)
        # print(id)
        bank_statement_df.loc[index, 'Transaction Id'] = id

In [19]:
bank_statement_df

,TranDate,TranId,ShowTranDate,Desc1,ValueDate,Debit,Credit,Balance,Desc2,Desc3,Transaction Id
0,04/09/2023,HPP171618,04/09/2023,9806042191,04/09/2023,0,1300,0.0,100004016218.0,2482282,4016218.0
1,04/09/2023,HPP193636,04/09/2023,9807011607,04/09/2023,0,500,0.0,100004011845.0,2479473Off,4011845.0
2,04/09/2023,HPP103850,04/09/2023,9807011607,04/09/2023,0,3000,0.0,100004013710.0,2480578,4013710.0
3,04/09/2023,HPP214127,04/09/2023,9816970597,04/09/2023,0,1500,0.0,100004012326.0,2479742Off,4012326.0
4,04/09/2023,HPP071204,04/09/2023,9817017071,04/09/2023,0,500,0.0,100004012845.0,2479974,4012845.0
5,04/09/2023,HPP073802,04/09/2023,9824030827,04/09/2023,0,500,0.0,100004012915.0,2480021,4012915.0
6,04/09/2023,HPP142759,04/09/2023,9824327979,04/09/2023,0,592,0.0,100004015281.0,2481597,4015281.0
7,04/09/2023,HPP093758,04/09/2023,9842088442,04/09/2023,0,2000,0.0,100004013365.0,2480319,4013365.0
8,04/09/2023,HPP191018,04/09/2023,9842279732,04/09/2023,0,3000,0.0,100004016671.0,2482703,4016671.0
9,04/09/2023,HPP124053,04/09/2023,9842646168,04/09/2023,0,25000,0.0,100004014573.0,2481113,4014573.0
10,04/09/2023,HPP225405,04/09/2023,9842699646,04/09/2023,0,40,0.0,100004012529.0,2479839,4012529.0
11,04/09/2023,HPP224123,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012508.0,2479827,4012508.0
12,04/09/2023,HPP223653,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012492.0,2479823,4012492.0
13,04/09/2023,HPP223849,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012504.0,2479825,4012504.0
14,04/09/2023,HPP202153,04/09/2023,9842753255,04/09/2023,0,115,0.0,100004012028.0,2479560Off,4012028.0
15,04/09/2023,HPP105517,04/09/2023,9865534329,04/09/2023,0,20000,0.0,100004013837.0,2480651,4013837.0
16,04/09/2023,,04/09/2023,~Date summary,NaN,0,0,1399446.3,nan,NaN,NaN
17,05/09/2023,HPP124525,05/09/2023,9807011607,05/09/2023,0,200,0.0,100004019732.0,2484597,4019732.0
18,05/09/2023,HPP102941,05/09/2023,9824036758,05/09/2023,0,1500,0.0,100004018806.0,2483932,4018806.0
19,05/09/2023,HPP213743,05/09/2023,9827981859,05/09/2023,0,500,0.0,100004017276.0,2483045Off,4017276.0
20,05/09/2023,HPP120841,05/09/2023,9842646168,05/09/2023,0,25000,0.0,100004019516.0,2484406,4019516.0
21,05/09/2023,HPP203752,05/09/2023,9844588732,05/09/2023,0,1000,0.0,100004017008.0,2482890Off,4017008.0

In [20]:
def standard_format(row):
        """
        Determine transaction mode and amount from bank statement data.

        Parameters:
            row (Series): A row of bank statement data.

        Returns:
            Series: Mode (CR/DR) and amount.
        """
        if row['Debit'] > 0:
            mode = 'DR'
            amount = row['Debit']
        elif row['Credit'] > 0:
            mode = 'CR'
            amount = row['Credit']
        else:
            mode = None
            amount = None
        return pd.Series([mode, amount], index=['Mode', 'Amount'])

In [21]:
bank_statement_df[['Mode', 'Amount']] = bank_statement_df.apply(standard_format, axis=1)

In [22]:
bank_statement_df

,TranDate,TranId,ShowTranDate,Desc1,ValueDate,Debit,Credit,Balance,Desc2,Desc3,Transaction Id,Mode,Amount
0,04/09/2023,HPP171618,04/09/2023,9806042191,04/09/2023,0,1300,0.0,100004016218.0,2482282,4016218.0,CR,1300.0
1,04/09/2023,HPP193636,04/09/2023,9807011607,04/09/2023,0,500,0.0,100004011845.0,2479473Off,4011845.0,CR,500.0
2,04/09/2023,HPP103850,04/09/2023,9807011607,04/09/2023,0,3000,0.0,100004013710.0,2480578,4013710.0,CR,3000.0
3,04/09/2023,HPP214127,04/09/2023,9816970597,04/09/2023,0,1500,0.0,100004012326.0,2479742Off,4012326.0,CR,1500.0
4,04/09/2023,HPP071204,04/09/2023,9817017071,04/09/2023,0,500,0.0,100004012845.0,2479974,4012845.0,CR,500.0
5,04/09/2023,HPP073802,04/09/2023,9824030827,04/09/2023,0,500,0.0,100004012915.0,2480021,4012915.0,CR,500.0
6,04/09/2023,HPP142759,04/09/2023,9824327979,04/09/2023,0,592,0.0,100004015281.0,2481597,4015281.0,CR,592.0
7,04/09/2023,HPP093758,04/09/2023,9842088442,04/09/2023,0,2000,0.0,100004013365.0,2480319,4013365.0,CR,2000.0
8,04/09/2023,HPP191018,04/09/2023,9842279732,04/09/2023,0,3000,0.0,100004016671.0,2482703,4016671.0,CR,3000.0
9,04/09/2023,HPP124053,04/09/2023,9842646168,04/09/2023,0,25000,0.0,100004014573.0,2481113,4014573.0,CR,25000.0
10,04/09/2023,HPP225405,04/09/2023,9842699646,04/09/2023,0,40,0.0,100004012529.0,2479839,4012529.0,CR,40.0
11,04/09/2023,HPP224123,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012508.0,2479827,4012508.0,CR,85.0
12,04/09/2023,HPP223653,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012492.0,2479823,4012492.0,CR,85.0
13,04/09/2023,HPP223849,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012504.0,2479825,4012504.0,CR,85.0
14,04/09/2023,HPP202153,04/09/2023,9842753255,04/09/2023,0,115,0.0,100004012028.0,2479560Off,4012028.0,CR,115.0
15,04/09/2023,HPP105517,04/09/2023,9865534329,04/09/2023,0,20000,0.0,100004013837.0,2480651,4013837.0,CR,20000.0
16,04/09/2023,,04/09/2023,~Date summary,NaN,0,0,1399446.3,nan,NaN,NaN,None,NaN
17,05/09/2023,HPP124525,05/09/2023,9807011607,05/09/2023,0,200,0.0,100004019732.0,2484597,4019732.0,CR,200.0
18,05/09/2023,HPP102941,05/09/2023,9824036758,05/09/2023,0,1500,0.0,100004018806.0,2483932,4018806.0,CR,1500.0
19,05/09/2023,HPP213743,05/09/2023,9827981859,05/09/2023,0,500,0.0,100004017276.0,2483045Off,4017276.0,CR,500.0
20,05/09/2023,HPP120841,05/09/2023,9842646168,05/09/2023,0,25000,0.0,100004019516.0,2484406,4019516.0,CR,25000.0
21,05/09/2023,HPP203752,05/09/2023,9844588732,05/09/2023,0,1000,0.0,100004017008.0,2482890Off,4017008.0,CR,1000.0

In [25]:
bank_statement_df['Date'] = pd.to_datetime(bank_statement_df['TranDate'], format="%d/%m/%Y").dt.date

In [26]:
bank_statement_df

,TranDate,TranId,ShowTranDate,Desc1,ValueDate,Debit,Credit,Balance,Desc2,Desc3,Transaction Id,Mode,Amount,Date
0,04/09/2023,HPP171618,04/09/2023,9806042191,04/09/2023,0,1300,0.0,100004016218.0,2482282,4016218.0,CR,1300.0,2023-09-04
1,04/09/2023,HPP193636,04/09/2023,9807011607,04/09/2023,0,500,0.0,100004011845.0,2479473Off,4011845.0,CR,500.0,2023-09-04
2,04/09/2023,HPP103850,04/09/2023,9807011607,04/09/2023,0,3000,0.0,100004013710.0,2480578,4013710.0,CR,3000.0,2023-09-04
3,04/09/2023,HPP214127,04/09/2023,9816970597,04/09/2023,0,1500,0.0,100004012326.0,2479742Off,4012326.0,CR,1500.0,2023-09-04
4,04/09/2023,HPP071204,04/09/2023,9817017071,04/09/2023,0,500,0.0,100004012845.0,2479974,4012845.0,CR,500.0,2023-09-04
5,04/09/2023,HPP073802,04/09/2023,9824030827,04/09/2023,0,500,0.0,100004012915.0,2480021,4012915.0,CR,500.0,2023-09-04
6,04/09/2023,HPP142759,04/09/2023,9824327979,04/09/2023,0,592,0.0,100004015281.0,2481597,4015281.0,CR,592.0,2023-09-04
7,04/09/2023,HPP093758,04/09/2023,9842088442,04/09/2023,0,2000,0.0,100004013365.0,2480319,4013365.0,CR,2000.0,2023-09-04
8,04/09/2023,HPP191018,04/09/2023,9842279732,04/09/2023,0,3000,0.0,100004016671.0,2482703,4016671.0,CR,3000.0,2023-09-04
9,04/09/2023,HPP124053,04/09/2023,9842646168,04/09/2023,0,25000,0.0,100004014573.0,2481113,4014573.0,CR,25000.0,2023-09-04
10,04/09/2023,HPP225405,04/09/2023,9842699646,04/09/2023,0,40,0.0,100004012529.0,2479839,4012529.0,CR,40.0,2023-09-04
11,04/09/2023,HPP224123,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012508.0,2479827,4012508.0,CR,85.0,2023-09-04
12,04/09/2023,HPP223653,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012492.0,2479823,4012492.0,CR,85.0,2023-09-04
13,04/09/2023,HPP223849,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012504.0,2479825,4012504.0,CR,85.0,2023-09-04
14,04/09/2023,HPP202153,04/09/2023,9842753255,04/09/2023,0,115,0.0,100004012028.0,2479560Off,4012028.0,CR,115.0,2023-09-04
15,04/09/2023,HPP105517,04/09/2023,9865534329,04/09/2023,0,20000,0.0,100004013837.0,2480651,4013837.0,CR,20000.0,2023-09-04
16,04/09/2023,,04/09/2023,~Date summary,NaN,0,0,1399446.3,nan,NaN,NaN,None,NaN,2023-09-04
17,05/09/2023,HPP124525,05/09/2023,9807011607,05/09/2023,0,200,0.0,100004019732.0,2484597,4019732.0,CR,200.0,2023-09-05
18,05/09/2023,HPP102941,05/09/2023,9824036758,05/09/2023,0,1500,0.0,100004018806.0,2483932,4018806.0,CR,1500.0,2023-09-05
19,05/09/2023,HPP213743,05/09/2023,9827981859,05/09/2023,0,500,0.0,100004017276.0,2483045Off,4017276.0,CR,500.0,2023-09-05
20,05/09/2023,HPP120841,05/09/2023,9842646168,05/09/2023,0,25000,0.0,100004019516.0,2484406,4019516.0,CR,25000.0,2023-09-05
21,05/09/2023,HPP203752,05/09/2023,9844588732,05/09/2023,0,1000,0.0,100004017008.0,2482890Off,4017008.0,CR,1000.0,2023-09-05

In [33]:
# bank_statement_df['Desc2'] = bank_statement_df['De']
bank_statement_df['Desc2'] = bank_statement_df['Desc2'].str.rstrip('.0')

In [35]:
bank_statement_df = bank_statement_df.loc[bank_statement_df['Desc1'] != '~Date summary']

In [36]:
bank_statement_df

,TranDate,TranId,ShowTranDate,Desc1,ValueDate,Debit,Credit,Balance,Desc2,Desc3,Transaction Id,Mode,Amount,Date
0,04/09/2023,HPP171618,04/09/2023,9806042191,04/09/2023,0,1300,0.0,100004016218,2482282,4016218.0,CR,1300.0,2023-09-04
1,04/09/2023,HPP193636,04/09/2023,9807011607,04/09/2023,0,500,0.0,100004011845,2479473Off,4011845.0,CR,500.0,2023-09-04
2,04/09/2023,HPP103850,04/09/2023,9807011607,04/09/2023,0,3000,0.0,10000401371,2480578,4013710.0,CR,3000.0,2023-09-04
3,04/09/2023,HPP214127,04/09/2023,9816970597,04/09/2023,0,1500,0.0,100004012326,2479742Off,4012326.0,CR,1500.0,2023-09-04
4,04/09/2023,HPP071204,04/09/2023,9817017071,04/09/2023,0,500,0.0,100004012845,2479974,4012845.0,CR,500.0,2023-09-04
5,04/09/2023,HPP073802,04/09/2023,9824030827,04/09/2023,0,500,0.0,100004012915,2480021,4012915.0,CR,500.0,2023-09-04
6,04/09/2023,HPP142759,04/09/2023,9824327979,04/09/2023,0,592,0.0,100004015281,2481597,4015281.0,CR,592.0,2023-09-04
7,04/09/2023,HPP093758,04/09/2023,9842088442,04/09/2023,0,2000,0.0,100004013365,2480319,4013365.0,CR,2000.0,2023-09-04
8,04/09/2023,HPP191018,04/09/2023,9842279732,04/09/2023,0,3000,0.0,100004016671,2482703,4016671.0,CR,3000.0,2023-09-04
9,04/09/2023,HPP124053,04/09/2023,9842646168,04/09/2023,0,25000,0.0,100004014573,2481113,4014573.0,CR,25000.0,2023-09-04
10,04/09/2023,HPP225405,04/09/2023,9842699646,04/09/2023,0,40,0.0,100004012529,2479839,4012529.0,CR,40.0,2023-09-04
11,04/09/2023,HPP224123,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012508,2479827,4012508.0,CR,85.0,2023-09-04
12,04/09/2023,HPP223653,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012492,2479823,4012492.0,CR,85.0,2023-09-04
13,04/09/2023,HPP223849,04/09/2023,9842699646,04/09/2023,0,85,0.0,100004012504,2479825,4012504.0,CR,85.0,2023-09-04
14,04/09/2023,HPP202153,04/09/2023,9842753255,04/09/2023,0,115,0.0,100004012028,2479560Off,4012028.0,CR,115.0,2023-09-04
15,04/09/2023,HPP105517,04/09/2023,9865534329,04/09/2023,0,20000,0.0,100004013837,2480651,4013837.0,CR,20000.0,2023-09-04
17,05/09/2023,HPP124525,05/09/2023,9807011607,05/09/2023,0,200,0.0,100004019732,2484597,4019732.0,CR,200.0,2023-09-05
18,05/09/2023,HPP102941,05/09/2023,9824036758,05/09/2023,0,1500,0.0,100004018806,2483932,4018806.0,CR,1500.0,2023-09-05
19,05/09/2023,HPP213743,05/09/2023,9827981859,05/09/2023,0,500,0.0,100004017276,2483045Off,4017276.0,CR,500.0,2023-09-05
20,05/09/2023,HPP120841,05/09/2023,9842646168,05/09/2023,0,25000,0.0,100004019516,2484406,4019516.0,CR,25000.0,2023-09-05
21,05/09/2023,HPP203752,05/09/2023,9844588732,05/09/2023,0,1000,0.0,100004017008,2482890Off,4017008.0,CR,1000.0,2023-09-05