In [1]:
import pandas as pd
import re

In [5]:
bank_statement_df = pd.read_excel(r"D:\NPS_phase1\nps-reconciliation\output\BANK STMT PHASE 4\Bank_Nabil.xlsx",skiprows=1)
# soa_statement_df = pd.read_excel('D:/NPS/Nabil Bank 23 July.xlsx', sheet_name='SOA')

In [6]:
bank_statement_df.head()

,S.N,Ac.Number,Amount,Txn Type,Desc1,Desc2,Desc3,Date,Number
0,1,98763101008,-8328.0,D,NEPALREMIT#Fund TransferR77664939219,0.0,NPS-IF-3142849,08/29/2023 00:00:00,NPS-IF-3142849
1,2,98763101008,-25373.0,D,IPAY215157221,0.0,FTMS-181987,08/29/2023 00:00:00,FTMS-181987
2,3,98763101008,-100000.0,D,SMR#Fund Transfer33TF039994239/SMSR148992,0.0,NPS-IF-3142829,08/29/2023 00:00:00,NPS-IF-3142829
3,4,98763101008,-6609.0,D,SMR#Fund Transfer33TF125749051/SMSR148989,0.0,NPS-IF-3142814,08/29/2023 00:00:00,NPS-IF-3142814
4,5,98763101008,-410000.0,D,NEPALREMIT#Fund Transfer2342364858,0.0,NPS-IF-3142813,08/29/2023 00:00:00,NPS-IF-3142813

In [ ]:
for index, row in bank_statement_df.iterrows():
    # print(bank_statement_df.iloc[index]['Transaction ID'])
    for roww in (row['Desc1'] , row['Desc3']):
        id = ''
        if "NPS-IF-" in roww:
            id = re.findall(r'[0-9]{7}',roww)
            bank_statement_df.loc[index, 'Transaction ID'] = id[0]
            break
        
        
        elif "10000" in roww:
            if re.findall(r'#10*\d{7}',roww):
                continue
            id = re.findall(r'10*[0-9]{7}',roww)
            bank_statement_df.loc[index, 'Transaction ID'] = id[0].replace("10000","")
            break
        
        elif "FTMS-" in roww:
            id = re.findall(r'[0-9]{6}',roww)
            bank_statement_df.loc[index, 'Transaction ID'] = id[0]
            
        elif re.findall(r'\d{7}-.*', roww):
            id = re.findall(r'[0-9]{7}', roww)
            bank_statement_df.loc[index, 'Transaction ID'] = id[0]
            
        elif "eod" in roww:
            amount = abs(float(row["Amount"]))
            
            for indexsoa, soarow in soa_statement_df.iterrows():
                
                if soarow["Transaction Type"] == "BankVoucherEntry" and float(soarow["Amount"]) == amount:
                    print(amount)
                    bank_statement_df.loc[index, 'Transaction ID'] = soarow["Transaction Id"]

In [ ]:
soa_statement_df = pd.read_excel('D:/NPS/Nabil Bank 23 July.xlsx', sheet_name='SOA')

In [57]:
bank_statement_df = bank_statement_df.astype(str)
soa_statement_df = soa_statement_df.astype(str)
bank_statement_df.drop(bank_statement_df.index[-1], inplace=True)
soa_statement_df.drop(soa_statement_df.index[-1], inplace=True)

In [8]:
for index, row in bank_statement_df.iterrows():
    for roww in (row['Desc1'] , row['Desc3']):
        id = ''
        if "NPS-IF-" in roww:
            id = re.findall(r'[0-9]{7}',roww)
            bank_statement_df.loc[index, 'Transaction ID'] = id[0]
            break
        
        
        elif "10000" in roww:
            if re.findall(r'#10*\d{7}',roww):
                continue
            id = re.findall(r'10*[0-9]{7}',roww)
            bank_statement_df.loc[index, 'Transaction ID'] = id[0].replace("10000","")
            break
        
        elif "FTMS-" in roww:
            id = re.findall(r'[0-9]{6}',roww)
            bank_statement_df.loc[index, 'Transaction ID'] = id[0]
            
        elif re.findall(r'\d{7}-.*', roww):
            id = re.findall(r'[0-9]{7}', roww)
            bank_statement_df.loc[index, 'Transaction ID'] = id[0]

In [11]:
def standard_format_phase_4(row):
        """
        Determine transaction mode and amount from bank statement data.

        Parameters:
            row (Series): A row of bank statement data.

        Returns:
            Series: Mode (CR/DR) and amount.
        """
        if row['Txn Type'] == 'D' :
            mode = 'DR'
            amount = abs(row['Amount'])
        elif row['Txn Type'] == 'C':
            mode = 'CR'
            amount = row['Amount']
        else:
            mode = None
            amount = None
        return pd.Series([mode, amount], index=['Mode', 'Amount'])

In [12]:
bank_statement_df[['Mode', 'Amount']] = bank_statement_df.apply(standard_format_phase_4, axis=1)

In [13]:
bank_statement_df

,S.N,Ac.Number,Amount,Txn Type,Desc1,Desc2,Desc3,Date,Number,Transaction ID,Mode
0,1,98763101008,8328.0,D,NEPALREMIT#Fund TransferR77664939219,0.0,NPS-IF-3142849,08/29/2023 00:00:00,NPS-IF-3142849,3142849,DR
1,2,98763101008,25373.0,D,IPAY215157221,0.0,FTMS-181987,08/29/2023 00:00:00,FTMS-181987,181987,DR
2,3,98763101008,100000.0,D,SMR#Fund Transfer33TF039994239/SMSR148992,0.0,NPS-IF-3142829,08/29/2023 00:00:00,NPS-IF-3142829,3142829,DR
3,4,98763101008,6609.0,D,SMR#Fund Transfer33TF125749051/SMSR148989,0.0,NPS-IF-3142814,08/29/2023 00:00:00,NPS-IF-3142814,3142814,DR
4,5,98763101008,410000.0,D,NEPALREMIT#Fund Transfer2342364858,0.0,NPS-IF-3142813,08/29/2023 00:00:00,NPS-IF-3142813,3142813,DR
...,...,...,...,...,...,...,...,...,...,...,...
1152,1153,98763101008,323550.0,D,GMEREMIT#GME-R93535033886/United Kingdom,0.0,NPS-IF-3134605,08/29/2023 00:00:00,NPS-IF-3134605,3134605,DR
1153,1154,98763101008,100000.0,D,NEPALREMIT#Fund TransferR17326562499,0.0,NPS-IF-3134597,08/29/2023 00:00:00,NPS-IF-3134597,3134597,DR
1154,1155,98763101008,149987.0,D,GMEREMIT#GME-5610940441080/UAE,0.0,NPS-IF-3134595,08/29/2023 00:00:00,NPS-IF-3134595,3134595,DR
1155,1156,98763101008,3055.0,D,IMEPAY#IMEPAY-202308290014043083-TRFO-9862276004-,0.0,NPS-IF-3134586,08/29/2023 00:00:00,NPS-IF-3134586,3134586,DR
1156,1157,98763101008,1001.0,D,IMEPAY#IMEPAY-202308290013093075-TRFO-9865529096-,0.0,NPS-IF-3134585,08/29/2023 00:00:00,NPS-IF-3134585,3134585,DR

In [19]:
bank_statement_df['Date'] = pd.to_datetime(bank_statement_df['Date'], format="%m/%d/%Y %H:%M:%S").dt.date

In [20]:
bank_statement_df.head()

,S.N,Ac.Number,Amount,Txn Type,Desc1,Desc2,Desc3,Date,Number,Transaction ID,Mode
0,1,98763101008,8328.0,D,NEPALREMIT#Fund TransferR77664939219,0.0,NPS-IF-3142849,2023-08-29,NPS-IF-3142849,3142849,DR
1,2,98763101008,25373.0,D,IPAY215157221,0.0,FTMS-181987,2023-08-29,FTMS-181987,181987,DR
2,3,98763101008,100000.0,D,SMR#Fund Transfer33TF039994239/SMSR148992,0.0,NPS-IF-3142829,2023-08-29,NPS-IF-3142829,3142829,DR
3,4,98763101008,6609.0,D,SMR#Fund Transfer33TF125749051/SMSR148989,0.0,NPS-IF-3142814,2023-08-29,NPS-IF-3142814,3142814,DR
4,5,98763101008,410000.0,D,NEPALREMIT#Fund Transfer2342364858,0.0,NPS-IF-3142813,2023-08-29,NPS-IF-3142813,3142813,DR

In [10]:
bank_statement_df['Transaction ID'].count()

1156

In [51]:
bank_statement_df.loc[20]

S.N                                                            21.0
Ac.Number                                             98763101008.0
Amount                                                      -7000.0
Desc1             THAILI#TID#100002401309 XFR From Sunil Poudel Uti
Desc2                                                           0.0
Desc3                                                NPS-IF-2875408
Date                                            07/23/2023 00:00:00
Number                                               NPS-IF-2875408
Transaction ID                                              2875408
Name: 20, dtype: object

In [59]:
banknotmatch = []
bankcr = 0
bankdr = 0


for index1 , bank_statement in bank_statement_df.iterrows():
    
    if str(bank_statement['Transaction ID']) in (soa_statement_df['Transaction Id'].values):
        # bankdr += abs(float(bank_statement["DEBIT"]))
        # bankcr += abs(float(bank_statement["CREDIT"]))
        continue
        
    banknotmatch.append(bank_statement)
   



(banknotmatch)

[S.N                                                             1.0
 Ac.Number                                             98763101008.0
 Amount                                                     -24990.0
 Desc1             IMEPAY#IMEPAY-202307240012059960-TRFO-9818058629-
 Desc2                                                           0.0
 Desc3                                                NPS-IF-2875526
 Date                                            07/23/2023 00:00:00
 Number                                               NPS-IF-2875526
 Transaction ID                                              2875526
 Name: 0, dtype: object,
 S.N                             944.0
 Ac.Number               98763101008.0
 Amount                       -50000.0
 Desc1                       206186465
 Desc2                             0.0
 Desc3                     FTMS-158802
 Date              07/23/2023 00:00:00
 Number                    FTMS-158802
 Transaction ID                 158802
 Name: 943, dtype: object,
 S.N                               945.0
 Ac.Number                 98763101008.0
 Amount                            425.0
 Desc1             MPAY NPS,100003831094
 Desc2                      9803016690.0
 Desc3                               nan
 Date                07/23/2023 00:00:00
 Number                              nan
 Transaction ID                  3831094
 Name: 944, dtype: object,
 S.N                                               946.0
 Ac.Number                                 98763101008.0
 Amount                                         -10134.0
 Desc1             GMEREMIT#GME-0406000022582264/Germany
 Desc2                                               0.0
 Desc3                                    NPS-IF-2870892
 Date                                07/23/2023 00:00:00
 Number                                   NPS-IF-2870892
 Transaction ID                                  2870892
 Name: 945, dtype: object,
 S.N                                                  947.0
 Ac.Number                                    98763101008.0
 Amount                                            -20257.0
 Desc1             GMEREMIT#GME-R35176562644/United Kingdom
 Desc2                                                  0.0
 Desc3                                       NPS-IF-2870880
 Date                                   07/23/2023 00:00:00
 Number                                      NPS-IF-2870880
 Transaction ID                                     2870880
 Name: 946, dtype: object,
 S.N                                                  948.0
 Ac.Number                                    98763101008.0
 Amount                                             -1283.0
 Desc1             GMEREMIT#GME-R47056189588/United Kingdom
 Desc2                                                  0.0
 Desc3                                       NPS-IF-2870878
 Date                                   07/23/2023 00:00:00
 Number                                      NPS-IF-2870878
 Transaction ID                                     2870878
 Name: 947, dtype: object,
 S.N                               949.0
 Ac.Number                 98763101008.0
 Amount                           8400.0
 Desc1             MPAY NPS,100003831076
 Desc2                      9841592785.0
 Desc3                               nan
 Date                07/23/2023 00:00:00
 Number                              nan
 Transaction ID                  3831076
 Name: 948, dtype: object,
 S.N                                                           950.0
 Ac.Number                                             98763101008.0
 Amount                                                     -18900.0
 Desc1             IMEPAY#IMEPAY-202307222328061230-TRFO-9817464390-
 Desc2                                                           0.0
 Desc3                                                NPS-IF-2870859
 Date                                            07/23/2023 00:00:00
 Number                                               NPS-IF-2870859
 Transaction ID                                              2870859
 Name: 949, dtype: object,
 S.N                                                           951.0
 Ac.Number                                             98763101008.0
 Amount                                                      -1000.0
 Desc1             IMEPAY#IMEPAY-202307222312391085-TRFO-9860490257-
 Desc2                                                           0.0
 Desc3                                                NPS-IF-2870837
 Date                                            07/23/2023 00:00:00
 Number                                               NPS-IF-2870837
 Transaction ID                                              2870837
 Name: 950, dtype: object,
 S.N                                                           952.0
 Ac.Number                                             98763101008.0
 Amount                                                       -100.0
 Desc1             IMEPAY#IMEPAY-202307222308231020-TRFO-9860490257-
 Desc2                                                           0.0
 Desc3                                                NPS-IF-2870833
 Date                                            07/23/2023 00:00:00
 Number                                               NPS-IF-2870833
 Transaction ID                                              2870833
 Name: 951, dtype: object,
 S.N                               953.0
 Ac.Number                 98763101008.0
 Amount                           1000.0
 Desc1             MPAY NPS,100003831042
 Desc2                      9823503174.0
 Desc3                               nan
 Date                07/23/2023 00:00:00
 Number                              nan
 Transaction ID                  3831042
 Name: 952, dtype: object,
 S.N                                              954.0
 Ac.Number                                98763101008.0
 Amount                                       -205312.0
 Desc1             NEPALREMIT#Fund TransferR73997088833
 Desc2                                              0.0
 Desc3                                   NPS-IF-2870807
 Date                               07/23/2023 00:00:00
 Number                                  NPS-IF-2870807
 Transaction ID                                 2870807
 Name: 953, dtype: object,
 S.N                                           955.0
 Ac.Number                             98763101008.0
 Amount                                    -211709.0
 Desc1             NEPALREMIT#Fund Transfer169440264
 Desc2                                           0.0
 Desc3                                NPS-IF-2870806
 Date                            07/23/2023 00:00:00
 Number                               NPS-IF-2870806
 Transaction ID                              2870806
 Name: 954, dtype: object,
 S.N                                                           956.0
 Ac.Number                                             98763101008.0
 Amount                                                     -24500.0
 Desc1             IMEPAY#IMEPAY-202307222248590594-TRFO-9865816669-
 Desc2                                                           0.0
 Desc3                                                NPS-IF-2870798
 Date                                            07/23/2023 00:00:00
 Number                                               NPS-IF-2870798
 Transaction ID                                              2870798
 Name: 955, dtype: object,
 S.N                                                           957.0
 Ac.Number                                             98763101008.0
 Amount                                                     -15000.0
 Desc1             IMEPAY#IMEPAY-202307222247080548-TRFO-9848466214-
 Desc2                                                           0.0
 Desc3                                                NPS-IF-2870796
 Date                                            07/23/2023 00:00:00
 Number                                               NPS-IF-2870796
 Transaction ID                                              2870796
 Name: 956, dtype: object,
 S.N                                            958.0
 Ac.Number                              98763101008.0
 Amount                                     -213340.0
 Desc1             GMEREMIT#GME-23153970002983/KUWAIT
 Desc2                                            0.0
 Desc3                                 NPS-IF-2870792
 Date                             07/23/2023 00:00:00
 Number                                NPS-IF-2870792
 Transaction ID                               2870792
 Name: 957, dtype: object,
 S.N                                                           959.0
 Ac.Number                                             98763101008.0
 Amount                                                     -10000.0
 Desc1             IMEPAY#IMEPAY-202307222238250346-TRFO-9822739726-
 Desc2                                                           0.0
 Desc3                                                NPS-IF-2870790
 Date                                            07/23/2023 00:00:00
 Number                                               NPS-IF-2870790
 Transaction ID                                              2870790
 Name: 958, dtype: object,
 S.N                               960.0
 Ac.Number                 98763101008.0
 Amount                            100.0
 Desc1             MPAY NPS,100003830998
 Desc2                      9823375365.0
 Desc3                               nan
 Date                07/23/2023 00:00:00
 Number                              nan
 Transaction ID                  3830998
 Name: 959, dtype: object,
 S.N                               961.0
 Ac.Number                 98763101008.0
 Amount                           1000.0
 Desc1             MPAY NPS,100003830997
 Desc2                      9808104541.0
 Desc3                               nan
 Date                07/23/2023 00:00:00
 Number                              nan
 Transaction ID                  3830997
 Name: 960, dtype: object,
 S.N                                                           962.0
 Ac.Number                                             98763101008.0
 Amount                                                      -1237.0
 Desc1             IMEPAY#IMEPAY-202307222231460190-TRFO-9803851969-
 Desc2                                                           0.0
 Desc3                                                NPS-IF-2870776
 Date                                            07/23/2023 00:00:00
 Number                                               NPS-IF-2870776
 Transaction ID                                              2870776
 Name: 961, dtype: object,
 S.N                                                           963.0
 Ac.Number                                             98763101008.0
 Amount                                                      -1295.0
 Desc1             IMEPAY#IMEPAY-202307222227250098-TRFO-9803851969-
 Desc2                                                           0.0
 Desc3                                                NPS-IF-2870775
 Date                                            07/23/2023 00:00:00
 Number                                               NPS-IF-2870775
 Transaction ID                                              2870775
 Name: 962, dtype: object,
 S.N                                                           964.0
 Ac.Number                                             98763101008.0
 Amount                                                      -2500.0
 Desc1             IMEPAY#IMEPAY-202307222222089999-TRFO-9827678588-
 Desc2                                                           0.0
 Desc3                                                NPS-IF-2870754
 Date                                            07/23/2023 00:00:00
 Number                                               NPS-IF-2870754
 Transaction ID                                              2870754
 Name: 963, dtype: object,
 S.N                               965.0
 Ac.Number                 98763101008.0
 Amount                          15000.0
 Desc1             MPAY NPS,100003830969
 Desc2                      9843570203.0
 Desc3                               nan
 Date                07/23/2023 00:00:00
 Number                              nan
 Transaction ID                  3830969
 Name: 964, dtype: object,
 S.N                                 966.0
 Ac.Number                   98763101008.0
 Amount                            -2200.0
 Desc1             NICASIA#Sachi Chaudhary
 Desc2                                 0.0
 Desc3                      NPS-IF-2870746
 Date                  07/23/2023 00:00:00
 Number                     NPS-IF-2870746
 Transaction ID                    2870746
 Name: 965, dtype: object,
 S.N                                                  967.0
 Ac.Number                                    98763101008.0
 Amount                                             -9624.0
 Desc1             GMEREMIT#GME-R29082222671/United Kingdom
 Desc2                                                  0.0
 Desc3                                       NPS-IF-2870742
 Date                                   07/23/2023 00:00:00
 Number                                      NPS-IF-2870742
 Transaction ID                                     2870742
 Name: 966, dtype: object,
 S.N                                                  968.0
 Ac.Number                                    98763101008.0
 Amount                                            -38496.0
 Desc1             GMEREMIT#GME-R95501281679/United Kingdom
 Desc2                                                  0.0
 Desc3                                       NPS-IF-2870737
 Date                                   07/23/2023 00:00:00
 Number                                      NPS-IF-2870737
 Transaction ID                                     2870737
 Name: 967, dtype: object,
 S.N                                                  969.0
 Ac.Number                                    98763101008.0
 Amount                                           -100116.0
 Desc1             GMEREMIT#GME-R21573183316/United Kingdom
 Desc2                                                  0.0
 Desc3                                       NPS-IF-2870735
 Date                                   07/23/2023 00:00:00
 Number                                      NPS-IF-2870735
 Transaction ID                                     2870735
 Name: 968, dtype: object,
 S.N                                           970.0
 Ac.Number                             98763101008.0
 Amount                                     -35000.0
 Desc1             NEPALREMIT#Fund Transfer169437603
 Desc2                                           0.0
 Desc3                                NPS-IF-2870733
 Date                            07/23/2023 00:00:00
 Number                               NPS-IF-2870733
 Transaction ID                              2870733
 Name: 969, dtype: object,
 S.N                                         971.0
 Ac.Number                           98763101008.0
 Amount                                    -5000.0
 Desc1             NEPALREMIT#Fund Transfer7619672
 Desc2                                         0.0
 Desc3                              NPS-IF-2870719
 Date                          07/23/2023 00:00:00
 Number                             NPS-IF-2870719
 Transaction ID                            2870719
 Name: 970, dtype: object,
 S.N                                           972.0
 Ac.Number                             98763101008.0
 Amount                                      -2421.0
 Desc1             NEPALREMIT#Fund Transfer169436869
 Desc2                                           0.0
 Desc3                                NPS-IF-2870712
 Date                            07/23/2023 00:00:00
 Number                               NPS-IF-2870712
 Transaction ID                              2870712
 Name: 971, dtype: object,
 S.N                               973.0
 Ac.Number                 98763101008.0
 Amount                            150.0
 Desc1             MPAY NPS,100003830928
 Desc2                      9809152850.0
 Desc3                               nan
 Date                07/23/2023 00:00:00
 Number                              nan
 Transaction ID                  3830928
 Name: 972, dtype: object,
 S.N                                                           974.0
 Ac.Number                                             98763101008.0
 Amount                                                       -561.0
 Desc1             IMEPAY#IMEPAY-202307222158159317-TRFO-9804038392-
 Desc2                                                           0.0
 Desc3                                                NPS-IF-2870703
 Date                                            07/23/2023 00:00:00
 Number                                               NPS-IF-2870703
 Transaction ID                                              2870703
 Name: 973, dtype: object,
 S.N                                              975.0
 Ac.Number                                98763101008.0
 Amount                                        -25079.6
 Desc1             NEPALREMIT#Fund TransferR36512889581
 Desc2                                              0.0
 Desc3                                   NPS-IF-2870700
 Date                               07/23/2023 00:00:00
 Number                                  NPS-IF-2870700
 Transaction ID                                 2870700
 Name: 974, dtype: object,
 S.N                                           976.0
 Ac.Number                             98763101008.0
 Amount                                      -4322.0
 Desc1             NEPALREMIT#Fund Transfer169436445
 Desc2                                           0.0
 Desc3                                NPS-IF-2870699
 Date                            07/23/2023 00:00:00
 Number                               NPS-IF-2870699
 Transaction ID                              2870699
 Name: 975, dtype: object,
 S.N                               977.0
 Ac.Number                 98763101008.0
 Amount                            500.0
 Desc1             MPAY NPS,100003830909
 Desc2                      9841448463.0
 Desc3                               nan
 Date                07/23/2023 00:00:00
 Number                              nan
 Transaction ID                  3830909
 Name: 976, dtype: object,
 S.N                               978.0
 Ac.Number                 98763101008.0
 Amount                            500.0
 Desc1             MPAY NPS,100003830899
 Desc2                      9841448463.0
 Desc3                               nan
 Date                07/23/2023 00:00:00
 Number                              nan
 Transaction ID                  3830899
 Name: 977, dtype: object,
 S.N                                               979.0
 Ac.Number                                 98763101008.0
 Amount                                         -15793.0
 Desc1             GMEREMIT#GME-0406000022580378/Romania
 Desc2                                               0.0
 Desc3                                    NPS-IF-2870684
 Date                                07/23/2023 00:00:00
 Number                                   NPS-IF-2870684
 Transaction ID                                  2870684
 Name: 978, dtype: object,
 S.N                                                  980.0
 Ac.Number                                    98763101008.0
 Amount                                             -1283.0
 Desc1             GMEREMIT#GME-R13781666528/United Kingdom
 Desc2                                                  0.0
 Desc3                                       NPS-IF-2870682
 Date                                   07/23/2023 00:00:00
 Number                                      NPS-IF-2870682

In [58]:
soanotmatch = []
soacr = 0
soadr = 0
for indexsoa , soa_statement in soa_statement_df.iterrows():
    if str(soa_statement['Transaction Id']) in (bank_statement_df['Transaction ID'].values):
        continue
    soanotmatch.append(soa_statement)

(soanotmatch)

[]