In [8]:
import pandas as pd
import re

Reading excel into PD

In [13]:
bank_statement_df = pd.read_excel('D:/NPS/Kamana Bank.xlsx', header=1)
soa_statement_df = pd.read_excel('D:/NPS/Kamana SOA.xlsx', header=1)

Adding empty column in Bank statement

In [14]:

bank_statement_df['transaction_id'] =  ''

iterate through every rows in bank statement to extract transaction id

In [26]:
for index, row in bank_statement_df.iterrows():
    # print(bank_statement_df.iloc[index]['transaction_id'])
    for roww in (row['Desc2'] , row['Desc3']):
        
        if "NPS-IF-" in roww:
            id = re.findall(r'[0-9]{7}',roww)
            bank_statement_df.loc[index, 'transaction_id'] = id[0]
            break
        
        if "10000" in roww:
            id = re.findall(r'10*[0-9]{7}',roww)
            bank_statement_df.loc[index, 'transaction_id'] = id[0].replace("10000","")
            break
            
        if "FTMS-" in roww:
            id = re.findall(r'[0-9]{6}',roww)
            bank_statement_df.loc[index, 'transaction_id'] = id[0]
            break
            
            
        if "eod" in roww:
            id = roww
            bank_statement_df.loc[index, 'transaction_id'] = id
            break
            
            
bank_statement_df

,S.N,Ac.Number,Amount,Desc1,Desc2,Desc3,Date,Number,transaction_id
0,1,9266011200011,-20000.00,NEPALREMIT#Fund Tra,NPS-IF-2870783,031024,2023-07-22T22:35:43,NaN,2870783
1,2,9266011200011,-36265.00,GMEREMIT#GME-040600,NPS-IF-2870755,031023,2023-07-22T22:21:22,NaN,2870755
2,3,9266011200011,1000.00,9746408153,"4455367,NPS","100003830858,mob",2023-07-22T21:33:55,NaN,3830858
3,4,9266011200011,1000.00,9849069590,"4455200,NPS","100003830760,mob",2023-07-22T21:04:40,NaN,3830760
4,5,9266011200011,-17450.25,PRABHUMONEY#PMT9121,NPS-IF-2870423,031022,2023-07-22T20:10:01,NaN,2870423
...,...,...,...,...,...,...,...,...,...
198,199,9266011200011,-50000.00,THAILI#TID#10000237,NPS-IF-2855514,030876,2023-07-20T07:29:54,NaN,2855514
199,200,9266011200011,1000.00,9805908433,"4426850,NPS","100003818355,mob",2023-07-20T07:23:56,NaN,3818355
200,201,9266011200011,-50000.00,NEPALREMIT#Fund Tra,NPS-IF-2855304,030875,2023-07-20T06:25:42,NaN,2855304
201,202,9266011200011,-260673.12,NEPALREMIT#Fund Tra,NPS-IF-2855244,030874,2023-07-20T05:29:45,NaN,2855244
202,203,9266011200011,-30533.00,GMEREMIT#GME-040600,NPS-IF-2855110,030873,2023-07-20T02:25:18,NaN,2855110

Replacing Transaction id with Eod in SOA

In [25]:
for index, row in soa_statement_df.iterrows():
    if "eod" in row['Remarks']:
        id = row['Remarks']
        soa_statement_df.loc[index, 'Transaction Id'] = id
        print(id)
        
soa_statement_df.loc[72]

eod07-19
eod7-20

S.N                                                                74
Transaction Id                                                3824270
Opening Balance                                           37787277.62
Mode                                                               DR
Transaction Type                                              Gateway
Amount                                                          100.0
Closing Blance                                            37787177.62
Remarks             Balance Transferred from KAMANA(NEPAL PAYMENT ...
Date                                            7/21/2023 11:29:00 AM
Name: 72, dtype: object

Matching Bank ID with SOA ID

In [24]:
banknotmatch = []
bankmatch = []


for index1 , bank_statement in bank_statement_df.iterrows():
    if str(bank_statement['transaction_id']) in str(soa_statement_df['Transaction Id'].values):
        
        bankmatch.append(bank_statement)
    else:    
        banknotmatch.append(bank_statement)
   
print(banknotmatch)

[S.N                               203
Ac.Number               9266011200011
Amount                       -30533.0
Desc1             GMEREMIT#GME-040600
Desc2                  NPS-IF-2855110
Desc3                          030873
Date              2023-07-20T02:25:18
Number                            NaN
transaction_id                2855110
Name: 202, dtype: object]
6799487.17
9165286.48

Matching SOA ID with Bank ID

In [20]:
soanotmatch = []
soacr = 0
soadr = 0
for indexsoa , soa_statement in soa_statement_df.iterrows():
    match = 0
    if str(soa_statement['Transaction Id']) in (bank_statement_df['transaction_id'].values):
        matched = 1
        if soa_statement['Mode'] == 'CR':
            soacr += soa_statement['Amount']
        else:
            soadr += soa_statement['Amount']
        continue
    soanotmatch.append(soa_statement.loc[indexsoa])

print(soanotmatch)         
print(soacr)
print(soadr)

[]
9165286.479999999
6799487.170000001

In [34]:
abc = "orange"

match abc:
    case "apple": print("this is apple") 
    case "orange": print("this is orange")
    case _: print("no value")

this is orange