In [1]:
import pandas as pd
import re

In [2]:
bank_statement_df = pd.read_excel(r"D:\NPS_phase1\nps-reconciliation\output\BANK STMT PHASE 4\Bank_Shangrila.xlsx",skiprows=1)

In [3]:
bank_statement_df.head()

,S.N,Ac.Number,Amount,Txn Type,Desc1,Desc2,Desc3,Date,Number
0,1,9105801120601,4426426.28,C,2301230829IGW00B,eod8-28,NPS CENTRAL SETTLEME,2023-08-29T12:53:00,NaN
1,2,9105801120601,10000.00,C,9841034054,"MOB,100003989053",1648192,2023-08-29T12:29:00,NaN
2,3,9105801120601,20000.00,C,9816642631,"MOB,100003989010",1648092,2023-08-29T12:20:00,NaN
3,4,9105801120601,15000.00,C,9851086526,"MOB,100003988851",1647903,2023-08-29T12:01:00,NaN
4,5,9105801120601,200.00,C,9748361397,"MOB,100003988734",1647700,2023-08-29T11:41:00,NaN

In [4]:
for index, row in bank_statement_df.iterrows():
    # print(bank_statement_df.iloc[index]['Transaction ID'])
    for roww in (row['Desc2'] , row['Desc3']):
        id = ''
        if "NPS-IF-" in roww:
            id = re.findall(r'[0-9]{7}',roww)
            bank_statement_df.loc[index, 'Transaction Id'] = id[0]
            break
        
        
        elif "10000" in roww:
            if re.findall(r'#10*\d{7}',roww):
                continue
            id = re.findall(r'10*[0-9]{7}',roww)
            bank_statement_df.loc[index, 'Transaction Id'] = id[0].replace("10000","")
            break
        
        elif "FTMS-" in roww:
            id = re.findall(r'[0-9]{6}',roww)
            bank_statement_df.loc[index, 'Transaction Id'] = id[0]

In [6]:
bank_statement_df.head(15)

,S.N,Ac.Number,Amount,Txn Type,Desc1,Desc2,Desc3,Date,Number,Transaction Id
0,1,9105801120601,4426426.28,C,2301230829IGW00B,eod8-28,NPS CENTRAL SETTLEME,2023-08-29T12:53:00,NaN,NaN
1,2,9105801120601,10000.00,C,9841034054,"MOB,100003989053",1648192,2023-08-29T12:29:00,NaN,3989053
2,3,9105801120601,20000.00,C,9816642631,"MOB,100003989010",1648092,2023-08-29T12:20:00,NaN,3989010
3,4,9105801120601,15000.00,C,9851086526,"MOB,100003988851",1647903,2023-08-29T12:01:00,NaN,3988851
4,5,9105801120601,200.00,C,9748361397,"MOB,100003988734",1647700,2023-08-29T11:41:00,NaN,3988734
5,6,9105801120601,30940.00,D,LAXMIBANK#cash,020447,NPS-IF-3142883Off,2023-08-29T23:40:00,NaN,3142883
6,7,9105801120601,1000.00,C,9762525844,"MOB,100003988698",1647664,2023-08-29T11:38:00,NaN,3988698
7,8,9105801120601,200166.95,D,PRABHUMONEY#PMTFT23,020423,NPS-IF-3136924,2023-08-29T10:56:00,NaN,3136924
8,9,9105801120601,10087.00,D,PRABHUMONEY#PMT1138,020422,NPS-IF-3136891,2023-08-29T10:51:00,NaN,3136891
9,10,9105801120601,50000.00,C,9842100514,"MOB,100003988389",1647160,2023-08-29T10:48:00,NaN,3988389
10,11,9105801120601,4820.00,C,9848299557,"MOB,100003988375",1647133,2023-08-29T10:46:00,NaN,3988375
11,12,9105801120601,15000.00,C,9848647994,"MOB,100003988252",1646951,2023-08-29T10:28:00,NaN,3988252
12,13,9105801120601,104297.63,D,IPAY215169963,020446,FTMS-181968Off,2023-08-29T21:50:00,NaN,181968
13,14,9105801120601,60000.00,D,GMEREMIT#GME-33TF07,020445,NPS-IF-3142388Off,2023-08-29T21:05:00,NaN,3142388
14,15,9105801120601,66154.00,D,GMEREMIT#GME-788456,020444,NPS-IF-3142370Off,2023-08-29T21:02:00,NaN,3142370

In [9]:
bank_statement_df['Transaction Id'].count()

54

In [10]:
def standard_format_phase_4(row):
        """
        Determine transaction mode and amount from bank statement data.

        Parameters:
            row (Series): A row of bank statement data.

        Returns:
            Series: Mode (CR/DR) and amount.
        """
        if row['Txn Type'] == 'D' :
            mode = 'DR'
            amount = abs(row['Amount'])
        elif row['Txn Type'] == 'C':
            mode = 'CR'
            amount = abs(row['Amount'])
        else:
            mode = None
            amount = None
        return pd.Series([mode, amount], index=['Mode', 'Amount'])

In [11]:
bank_statement_df[['Mode', 'Amount']] = bank_statement_df.apply(standard_format_phase_4, axis=1)

In [12]:
bank_statement_df.head()

,S.N,Ac.Number,Amount,Txn Type,Desc1,Desc2,Desc3,Date,Number,Transaction Id,Mode
0,1,9105801120601,4426426.28,C,2301230829IGW00B,eod8-28,NPS CENTRAL SETTLEME,2023-08-29T12:53:00,NaN,NaN,CR
1,2,9105801120601,10000.00,C,9841034054,"MOB,100003989053",1648192,2023-08-29T12:29:00,NaN,3989053,CR
2,3,9105801120601,20000.00,C,9816642631,"MOB,100003989010",1648092,2023-08-29T12:20:00,NaN,3989010,CR
3,4,9105801120601,15000.00,C,9851086526,"MOB,100003988851",1647903,2023-08-29T12:01:00,NaN,3988851,CR
4,5,9105801120601,200.00,C,9748361397,"MOB,100003988734",1647700,2023-08-29T11:41:00,NaN,3988734,CR

In [13]:
bank_statement_df['Date'] = pd.to_datetime(bank_statement_df['Date'], format="%Y-%m-%dT%H:%M:%S").dt.date

In [14]:
bank_statement_df

,S.N,Ac.Number,Amount,Txn Type,Desc1,Desc2,Desc3,Date,Number,Transaction Id,Mode
0,1,9105801120601,4426426.28,C,2301230829IGW00B,eod8-28,NPS CENTRAL SETTLEME,2023-08-29,NaN,NaN,CR
1,2,9105801120601,10000.00,C,9841034054,"MOB,100003989053",1648192,2023-08-29,NaN,3989053,CR
2,3,9105801120601,20000.00,C,9816642631,"MOB,100003989010",1648092,2023-08-29,NaN,3989010,CR
3,4,9105801120601,15000.00,C,9851086526,"MOB,100003988851",1647903,2023-08-29,NaN,3988851,CR
4,5,9105801120601,200.00,C,9748361397,"MOB,100003988734",1647700,2023-08-29,NaN,3988734,CR
5,6,9105801120601,30940.00,D,LAXMIBANK#cash,020447,NPS-IF-3142883Off,2023-08-29,NaN,3142883,DR
6,7,9105801120601,1000.00,C,9762525844,"MOB,100003988698",1647664,2023-08-29,NaN,3988698,CR
7,8,9105801120601,200166.95,D,PRABHUMONEY#PMTFT23,020423,NPS-IF-3136924,2023-08-29,NaN,3136924,DR
8,9,9105801120601,10087.00,D,PRABHUMONEY#PMT1138,020422,NPS-IF-3136891,2023-08-29,NaN,3136891,DR
9,10,9105801120601,50000.00,C,9842100514,"MOB,100003988389",1647160,2023-08-29,NaN,3988389,CR
10,11,9105801120601,4820.00,C,9848299557,"MOB,100003988375",1647133,2023-08-29,NaN,3988375,CR
11,12,9105801120601,15000.00,C,9848647994,"MOB,100003988252",1646951,2023-08-29,NaN,3988252,CR
12,13,9105801120601,104297.63,D,IPAY215169963,020446,FTMS-181968Off,2023-08-29,NaN,181968,DR
13,14,9105801120601,60000.00,D,GMEREMIT#GME-33TF07,020445,NPS-IF-3142388Off,2023-08-29,NaN,3142388,DR
14,15,9105801120601,66154.00,D,GMEREMIT#GME-788456,020444,NPS-IF-3142370Off,2023-08-29,NaN,3142370,DR
15,16,9105801120601,52476.84,D,PRABHUMONEY#PMT9169,020421,NPS-IF-3136094,2023-08-29,NaN,3136094,DR
16,17,9105801120601,42225.00,D,IPAY11330077721,020420,FTMS-181616,2023-08-29,NaN,181616,DR
17,18,9105801120601,49154.00,D,GMEREMIT#GME-R75060,020443,NPS-IF-3142305Off,2023-08-29,NaN,3142305,DR
18,19,9105801120601,206125.00,D,GMEREMIT#GME-R76282,020442,NPS-IF-3142303Off,2023-08-29,NaN,3142303,DR
19,20,9105801120601,19600.00,C,9802682424,"MOB,100003991270",1653129Off,2023-08-29,NaN,3991270,CR
20,21,9105801120601,113019.41,D,PRABHUMONEY#PMT9199,020441,NPS-IF-3142280Off,2023-08-29,NaN,3142280,DR
21,22,9105801120601,5000.00,D,THAILI#TID#10000263,020440,NPS-IF-3142230Off,2023-08-29,NaN,3142230,DR
22,23,9105801120601,200.00,C,9840393671,"MOB,100003987714",1646090,2023-08-29,NaN,3987714,CR
23,24,9105801120601,1000.00,C,9840839508,"MOB,100003991123",1652835Off,2023-08-29,NaN,3991123,CR
24,25,9105801120601,10000.00,D,LAXMIBANK#loan,020439,NPS-IF-3141947Off,2023-08-29,NaN,3141947,DR
25,26,9105801120601,57800.00,D,NICASIA#Asha,020419,NPS-IF-3135651,2023-08-29,NaN,3135651,DR
26,27,9105801120601,118650.00,D,IPAY11341193467,020418,FTMS-181594,2023-08-29,NaN,181594,DR
27,28,9105801120601,95189.00,D,GMEREMIT#GME-040600,020438,NPS-IF-3141872,2023-08-29,NaN,3141872,DR
28,29,9105801120601,100073.25,D,IPAY11316840014,020417,FTMS-181560,2023-08-29,NaN,181560,DR
29,30,9105801120601,20000.00,D,NEPALREMIT#Fund Tra,020437,NPS-IF-3141633,2023-08-29,NaN,3141633,DR
30,31,9105801120601,6035.00,D,GMEREMIT#GME-R26965,020436,NPS-IF-3141405,2023-08-29,NaN,3141405,DR
31,32,9105801120601,15002.00,D,GMEREMIT#GME-218669,020416,NPS-IF-3135247Off,2023-08-29,NaN,3135247,DR
32,33,9105801120601,50088.00,D,GMEREMIT#GME-R44056,020415,NPS-IF-3135009Off,2023-08-29,NaN,3135009,DR
33,34,9105801120601,10000.00,C,9846219073,"MOB,100003990500",1651143,2023-08-29,NaN,3990500,CR
34,35,9105801120601,5686.30,D,IPAY11445992505,020435,FTMS-181924,2023-08-29,NaN,181924,DR
35,36,9105801120601,200.00,C,9851241341,"MOB,100003990399",1650906,2023-08-29,NaN,3990399,CR
36,37,9105801120601,20017.68,D,PRABHUMONEY#PMT9194,020414,NPS-IF-3134948Off,2023-08-29,NaN,3134948,DR
37,38,9105801120601,41936.00,D,NEPALREMIT#Fund Tra,020434,NPS-IF-3140534,2023-08-29,NaN,3140534,DR
38,39,9105801120601,4520.00,C,9846264042,"MOB,100003990304",1650675,2023-08-29,NaN,3990304,CR
39,40,9105801120601,75000.00,D,NEPALREMIT#Fund Tra,020433,NPS-IF-3140460,2023-08-29,NaN,3140460,DR
40,41,9105801120601,50000.00,D,NEPALREMIT#Fund Tra,020432,NPS-IF-3140392,2023-08-29,NaN,3140392,DR
41,42,9105801120601,87711.42,D,PRABHUMONEY#PMT9204,020413,NPS-IF-3134896Off,2023-08-29,NaN,3134896,DR
42,43,9105801120601,165120.00,D,GMEREMIT#GME-R88006,020431,NPS-IF-3140181,2023-08-29,NaN,3140181,DR
43,44,9105801120601,116030.00,D,IPAY11417177916,020430,FTMS-181859,2023-08-29,NaN,181859,DR
44,45,9105801120601,3700.00,C,9856031674,"MOB,100003990036",1650078,2023-08-29,NaN,3990036,CR
45,46,9105801120601,139058.20,D,PRABHUMONEY#PMT9193,020429,NPS-IF-3139800,2023-08-29,NaN,3139800,DR
46,47,9105801120601,3591.00,D,GMEREMIT#GME-561094,020428,NPS-IF-3139766,2023-08-29,NaN,3139766,DR
47,48,9105801120601,15000.00,D,THAILI#TID#10000263,020427,NPS-IF-3139629,2023-08-29,NaN,3139629,DR
48,49,9105801120601,2000.00,C,9844922793,"MOB,100003989821",1649631,2023-08-29,NaN,3989821,CR
49,50,9105801120601,11632.58,D,PRABHUMONEY#PMT9192,020426,NPS-IF-3139176,2023-08-29,NaN,3139176,DR
50,51,9105801120601,6000.00,C,9806040347,"MOB,100003989627",1649223,2023-08-29,NaN,3989627,CR
51,52,9105801120601,69031.00,D,CITYREMIT#CEMTAFT 1,020425,NPS-IF-3138772,2023-08-29,NaN,3138772,DR
52,53,9105801120601,50000.00,D,HS2gp-NPSnOGiT4D,020424,FTMS-181787,2023-08-29,NaN,181787,DR
53,54,9105801120601,4520.00,C,9843633778,"MOB,100003989339",1648725,2023-08-29,NaN,3989339,CR
54,55,9105801120601,100000.00,C,9842100514,"MOB,100003989307",1648656,2023-08-29,NaN,3989307,CR