In [5]:
import pandas as pd
import re
from datetime import datetime

In [2]:
bank_statement_df =  pd.read_excel(r"D:\For Auto Recon\BANK STATEMENT REPORT FOR RECONCILE Phase1\Sanima bank 31-10-2020 to 01-04-2021.xlsx")

In [3]:
bank_statement_df.head()

,SOL_ID,TRAN_DATE,VALUE_DATE,TRAN_ID,FORACID,NAME,TRAN_AMT,TRAN_CRNCY_CODE,PART_TRAN_TYPE,TRAN_PARTICULAR,TRAN_PARTICULAR_2,REF_NO,TRAN_RMKS,ENTRY_USER_ID,VFD_USER_ID
0,908,01-APR-2021,01-APR-2021,S329799,90801352150025,NPS PAYABLE,16100.0,NPR,C,"100000395809,MOBILE/078011050000101",FUN MOB/9840729352/242093/01-04-2021,1242093.0,"885692,Nepal Payment Solution",CDCI,CDCI
1,908,01-APR-2021,01-APR-2021,S345916,90801352150025,NPS PAYABLE,9500.0,NPR,C,"100000396653,MOBILE/046011140000030",FUN MOB/9810095717/259982/01-04-2021,1259982.0,"889917,Nepal Payment Solution",CDCI,CDCI
2,908,01-APR-2021,01-APR-2021,S323167,90801352150025,NPS PAYABLE,1000.0,NPR,C,"100000395311,MOBILE/046011060001311",FUN MOB/9849842086/237778/01-04-2021,1237778.0,"883156,Nepal Payment Solution",CDCI,CDCI
3,908,01-APR-2021,01-APR-2021,S346951,90801352150025,NPS PAYABLE,15000.0,NPR,C,"100000396695,MOBILE/046011050000069",FUN MOB/9808245712/265199/01-04-2021,1265199.0,"890224,Nepal Payment Solution",CDCI,CDCI
4,908,01-APR-2021,01-APR-2021,S340805,90801352150025,NPS PAYABLE,1000.0,NPR,C,"100000396427,MOBILE/046011010000318",FUN MOB/9803250573/244930/01-04-2021,1244930.0,"888666,Nepal Payment Solution",CDCI,CDCI

In [4]:
bank_statement_df['TRAN_DATE']

0        01-APR-2021
1        01-APR-2021
2        01-APR-2021
3        01-APR-2021
4        01-APR-2021
            ...
28393    31-OCT-2020
28394    31-OCT-2020
28395    31-OCT-2020
28396    31-OCT-2020
28397    31-OCT-2020
Name: TRAN_DATE, Length: 28398, dtype: object

In [7]:
def convert_date_format(input_date):
    parsed_date = datetime.strptime(input_date, "%d-%b-%Y")
    formatted_date = parsed_date.strftime("%Y-%m-%d")
    return formatted_date

converted_series = bank_statement_df['TRAN_DATE'].apply(convert_date_format)
print(converted_series)

0        2021-04-01
1        2021-04-01
2        2021-04-01
3        2021-04-01
4        2021-04-01
            ...
28393    2020-10-31
28394    2020-10-31
28395    2020-10-31
28396    2020-10-31
28397    2020-10-31
Name: TRAN_DATE, Length: 28398, dtype: object