In [1]:
import pandas as pd
import re

In [4]:
bank_statement_df= pd.read_excel(r"D:\For Auto Recon\BANK STATEMENT REPORT FOR RECONCILE Phase1-20230807T053815Z-001\BANK STATEMENT REPORT FOR RECONCILE Phase1\Saptakoshi.xlsx",skiprows=1)
soa_statement_df = pd.read_csv(r"D:\For Auto Recon\SOA REPORT FOR RECONCILE Phase1-20230807T053702Z-001\SOA REPORT FOR RECONCILE Phase1\Commission Report (04_29_2021 to 06_03_2022)Saptakoshi Bank.csv",encoding='latin-1')

In [5]:
bank_statement_df.head()

,BranchCode,AcType,CyCode,MainCode,TranDate,Desc1,Desc2,Desc3,ValueDate,TranCyCode,Amount,LCYAmount,TranId,Balance
0,999,60,1,926052301,29/04/2021,9810314584,100000467928,126773,29/04/2021,1,10.0,10.0,HPP174356,10.0
1,999,60,1,926052301,29/04/2021,9852032900,100000467924,126774,29/04/2021,1,10.0,10.0,HPP174412,20.0
2,999,60,1,926052301,05/05/2021,9842345646,100000486972,128426,05/05/2021,1,100.0,100.0,HPP195545,120.0
3,999,60,1,926052301,10/05/2021,9810504017,100000501765,129776,10/05/2021,1,350.0,350.0,HPP191655,470.0
4,999,60,1,926052301,13/05/2021,9842034299,100000509133,130512Off,13/05/2021,1,215.0,215.0,HPP091312,685.0

In [8]:
bank_statement_df['Desc2'].count()

1120

In [10]:
for index, row in bank_statement_df.iterrows():
        if "100000" in str(row["Desc2"]):
            id_matches = re.findall(r'10*[0-9]{6}', str(row["Desc2"]))
            if id_matches:
                id = id_matches[0].replace("100000", "")
                bank_statement_df.loc[index, 'Transaction Id'] = id

        elif "10000" in str(row["Desc2"]):
            id_matches = re.findall(r'10*[0-9]{7}', str(row["Desc2"]))
            if id_matches:
                id = id_matches[0].replace("10000", "")
                bank_statement_df.loc[index, 'Transaction Id'] = id

In [11]:
bank_statement_df['Transaction Id'].count()

1118