In [1]:
import pandas as pd
import re

In [6]:
bank_statement_df= pd.read_excel(r"D:\For Auto Recon\BANK STATEMENT REPORT FOR RECONCILE Phase1-20230807T053815Z-001\BANK STATEMENT REPORT FOR RECONCILE Phase1\NPS RECEIVABLE -STATEMENT Shangrilla.xlsx",skiprows=1)
soa_statement_df = pd.read_csv(r"D:\For Auto Recon\SOA REPORT FOR RECONCILE Phase1-20230807T053702Z-001\SOA REPORT FOR RECONCILE Phase1\Commission Report (05_14_2021 to 07_17_2021)Shangrilla Bank.csv",encoding='latin-1')

In [7]:
bank_statement_df = bank_statement_df.loc[bank_statement_df['Desc1'] != '~Date summary']
len(bank_statement_df)

291

In [8]:
bank_statement_df.head()

,BranchCode,TranDate,TranId,ShowTranDate,Desc1,Desc2,Desc3,ValueDate,Debit,Credit,Balance
0,999,14/05/2021,iBX175253,14/05/2021,9851006457,NPS,03201100163086000001,14/05/2021,0,10,0
1,999,14/05/2021,HPP173838,14/05/2021,9818864155,100000515598,855156,14/05/2021,0,10,0
4,999,17/05/2021,HPP131147,17/05/2021,9865574583,100000526299,859237,17/05/2021,0,500,0
5,999,17/05/2021,HPP140208,17/05/2021,9865936706,100000526591,859320,17/05/2021,0,500,0
6,999,17/05/2021,HPP152335,17/05/2021,9812684567,100000526922,859438,17/05/2021,0,500,0

In [12]:
for index, row in bank_statement_df.iterrows():
        if "100000" in str(row["Desc2"]):
            id_matches = re.findall(r'10*[0-9]{6}', str(row["Desc2"]))
            if id_matches:
                id = id_matches[0].replace("100000", "")
                bank_statement_df.loc[index, 'Transaction Id'] = id
        desc2_str = str(row["Desc2"])
        matches = re.findall(r'\b\d{2,4}\b', desc2_str)
        if matches:
            id = matches[0]
            bank_statement_df.loc[index, 'Transaction Id'] = id

In [13]:
bank_statement_df['Transaction Id'].count()

289